
:root {
  --indigo: #2E20CA;
  --light-white: #FDF7FF;
}

article > a {
  display: block;
  margin-left: 0.3em;
  margin-top: 1.3em;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #2E20CA;
  position: relative;
  transition: all 0.3s ease-in-out;
}

article > a::before {
  content: " ";
  width: 1.5625em;
  height: 2px;
  background: #2E20CA;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: 0.3s linear, width 0.3s linear;
}

article > a p {
  margin-bottom: .85em;
  margin-top: .85em;
  font-size: 1.2em;
  padding-left: 4em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #2E20CA;
}

a span:nth-child(1) {
  height: 2px;
  width: 1.5625em;
  top: -2px;
  left: 0.625em;
  position: absolute;
  background-color: #FDF7FF;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

a span:nth-child(3) {
  height: 2px;
  width: 1.5625em;
  right: 1.875em;
  bottom: -2px;
  position: absolute;
  background-color: #FDF7FF;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

a span:nth-child(4) {
  height: 2px;
  width: 0.625em;
  right: 0.625em;
  position: absolute;
  background-color: #FDF7FF;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

article > a:hover {
  color: #FDF7FF;
  background: #2E20CA;
}

article > a:hover::before {
  width: 1rem;
  background-color: #FDF7FF;
}

article > a:hover p {
  color: #FDF7FF;
  padding-left: 3em;
}

article > a:hover span:nth-child(1) {
  left: -2px;
  width: 0px;
}

article > a:hover span:nth-child(3),
article > a:hover span:nth-child(4) {
  right: 0;
  width: 0;
}

main article > *:not(a) {
  flex: 1 1 100%;
  margin: unset;
  padding-top: 16px;
  padding-bottom: 16px;
}

article > a {
  width: 13em;
}

article > a:nth-of-type(2) {
  width: 10em;
}